@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

@layer components {
    .send-button {
      @apply p-3 rounded-lg bg-black text-white 
             hover:bg-gray-800 transition-colors
             disabled:bg-gray-300 disabled:cursor-not-allowed;
    }
  }
  
  @keyframes slideUp {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }
  
  .logo-image {
    @apply h-8 w-auto;
  }